<%= render "shared/header" %>
<%= render "shared/leftnavbar" %>
<div class="content">
  	<!-- Main bar -->
  	<div class="mainbar">
	    <div class="page-head">
	      	<h2 class="pull-left"><%= @company.name %></h2>

	      	<!--clear-->
        	<div class="clearfix"></div>
	    
	    </div>
	    <div class="matter">
    	    <div class="container-fluid">
    	    		<%= simple_form_for [@company, @campaign] do |f| %>
	            	<%= f.input :budget %>
	            	<%= f.input :campaign_name %>
	            	<%= f.input :conversion_rate %>
	            	<%= f.input :quoted_cpa %>
	            	<%= f.input :end_cpa %>
	            	<%= f.input :impressions %>
	            	<%= f.input :participants %>
	            	<%= f.input :total_actions %>
	            	<%= f.input :unique_visitors %>

					<%= f.input :email_shares %>
					<%= f.input :fb_shares %>
					<%= f.input :fb_likes %>
					<%= f.input :fb_comments %>
					<%= f.input :friends_invited %>
					<%= f.input :twitter_followers %>
					<%= f.input :twitter_shares %>
					<%= f.input :pins %>
					<%= f.input :pinterest_followers %>
					<%= f.input :tumblr_shares %>
					<%= f.input :tumblr_followers %>
					<%= f.input :page_likes %>
					<%= f.button :submit %>
					<% end %> 
	        </div>
	    </div>
    </div>

    <!-- clear -->
   	<div class="clearfix"></div>
</div>