	<%= render "shared/header" %>
	<%= render "shared/leftnavbar" %>
  <% if !@campaign.id.nil?%>
<div class="content">
  	<!-- Main bar -->
  	<div class="mainbar">
      
	    <!-- Page heading -->
	    <div class="page-head">
	    	<% if flash[:success] %>
				<p><%= flash[:success]%></p>
			<% elsif flash[:failure] %>
				<p><%= flash[:failure] %></p>
			<% end %>
        <!-- Page heading -->
	      <h2 class="pull-left">
          <%= @campaign.campaign_name %>
          <!-- page meta -->
          <span class="page-meta">Dashboard for campaign from <%= @campaign.start.to_formatted_s(:long)  %> through <%= @campaign.end.to_formatted_s(:long) %></span>
          	<% if current_company.user_level == 9 %>
	      		<a href="/companies/<%=@campaign.company.id%>/campaigns/<%=@campaign.id%>/edit" class="btn">Edit this campaign</a><br>
              <form action="/companies/<%= @campaign.company.id%>/campaigns/<%=@campaign.id%>" method="post">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete This Campaign" class="btn">
              </form>

	      	<% end %>
        </h2>


        <div class="clearfix"></div>

	    </div>
	    <!-- Page heading ends -->



	    <!-- Matter -->

	    <div class="matter">
        <div class="container-fluid">
          <!-- Today status. jQuery Sparkline plugin used. -->

          <div class="row-fluid">
            <div class="span12"> 
              <!-- List starts -->
              <ul class="today-datas">

               
              </ul> 
            </div>
          </div>

          <!-- Today status ends -->

          <!-- Dashboard Graph starts -->

          <div class="row-fluid">
            <div class="span8">

              <!-- Widget -->
              <div class="widget wviolet">
                <!-- Widget head -->
                <div class="widget-head">
                  <div class="pull-left">Social Actions</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"></a> 
                    <a href="#" class="wclose"></a>
                  </div>
                  <div class="clearfix"></div>
                </div>             

                <!-- Widget content -->
                <div class="widget-content">
                  <div class="padd">

                    <!-- Bar chart (Blue color). jQuery Flot plugin used. -->
                    <%= high_chart("my_id4", @chart)  %>


                  </div>
                </div>
                <!-- Widget ends -->

              </div>
            </div>

            <div class="span4">

              <div class="widget wviolet">

                <div class="widget-head">
                  <div class="pull-left">Campaign Stats</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"></a> 
                    <a href="#" class="wclose"></a>
                  </div>
                  <div class="clearfix"></div>
                </div>             

                <div class="widget-content">
                  <div class="padd">

                    <!-- Visitors, pageview, bounce rate, etc., Sparklines plugin used -->
                    <ul class="current-status">
                      <li>
                        <span id="status1"></span> <span class="bold">Budget : <%= number_to_currency(@campaign.budget, :unit => "$") %></span>
                      </li>
                      <li>
                        <span id="status2"></span> <span class="bold">Impressions : <%=@campaign.impressions %></span> 
                      </li>
                      <li>
                        <span id="status3"></span> <span class="bold">Unique Visitors : <%= @campaign.unique_visitors %></span>
                      </li>
                      <li>
                        <span id="status4"></span> <span class="bold">Conversion Rate : <%=@campaign.conversion_rate %>%</span>
                      </li>
                      <li>
                        <span id="status5"></span> <span class="bold">Participants : <%=@campaign.participants %></span> 
                      </li>
                      <li>
                        <span id="status6"></span> <span class="bold">Total Actions : <%=@campaign.total_actions %></span> 
                      </li>   
                      <li>
                        <span id="status7"></span> <span class="bold">Quoted CPA : <%=number_to_currency(@campaign.quoted_cpa, :unit => "$") %></span> 
                      </li>
                      <li>
                        <span id="status6"></span> <span class="bold">End CPA : <%=number_to_currency(@campaign.end_cpa, :unit => "$") %></span>
                      </li>                                                                                                             
                    </ul>

                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- Dashboard graph ends -->
          <div class="row-fluid">
	           	
	           	<div class="span12">

	              <!-- Widget -->
	              <div class="widget wviolet">
	                <!-- Widget head -->
	                <div class="widget-head">
	                  <div class="pull-left">Price Comparison - Twitter Followers</div>
	                  <div class="widget-icons pull-right">
	                    <a href="#" class="wminimize"></a> 
	                    <a href="#" class="wclose"></a>
	                  </div>
	                  <div class="clearfix"></div>
	                </div>             

	                <!-- Widget content -->
	                <div class="widget-content">
	                  <div class="padd">

	                    <!-- Bar chart (Blue color). jQuery Flot plugin used. -->
	                    <%= high_chart("my_bar_div2", @bar_comparison) %>


	                  </div>
	                </div>
	                <!-- Widget ends -->

	              </div>
	            </div>
	           
	      </div>
	      <div class="row-fluid">
	          <div class="span6">

	              <!-- Widget -->
	              <div class="widget wviolet">
	                <!-- Widget head -->
	                <div class="widget-head">
	                  <div class="pull-left">Gender Breakdown</div>
	                  <div class="widget-icons pull-right">
	                    <a href="#" class="wminimize"></a> 
	                    <a href="#" class="wclose"></a>
	                  </div>
	                  <div class="clearfix"></div>
	                </div>             

	                <!-- Widget content -->
	                <div class="widget-content">
	                  <div class="padd">

	                    <!-- Bar chart (Blue color). jQuery Flot plugin used. -->
                      <%= high_chart("my_id_gender", @chart_gender) do |c| %>
                        <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
                        <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                      <% end %>


	                  </div>
	                </div>
	                <!-- Widget ends -->

	              </div>
	            </div>
	           	<div class="span6">

	              <!-- Widget -->
	              <div class="widget wviolet">
	                <!-- Widget head -->
	                <div class="widget-head">
	                  <div class="pull-left">Device Breakdown</div>
	                  <div class="widget-icons pull-right">
	                    <a href="#" class="wminimize"></a> 
	                    <a href="#" class="wclose"></a>
	                  </div>
	                  <div class="clearfix"></div>
	                </div>             

	                <!-- Widget content -->
	                <div class="widget-content">
	                  <div class="padd">

	                    <!-- Bar chart (Blue color). jQuery Flot plugin used. -->
	                    <%= high_chart("my_id5", @chart_device) do |c| %>
                        <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
                        <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                      <% end %>


	                  </div>
	                </div>
	                <!-- Widget ends -->

	              </div>
	            </div>
	      </div>  
        </div>
	</div>

		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->	    	
   <div class="clearfix"></div>

</div>
<!-- Content ends -->
<%end%>